/* color variables  */
/* font variables  */
/* border variables  */
/* margin/padding variables  */
/* transition variables  */
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Montserrat:wght@100;300;400;500;600;700;900&display=swap");
@keyframes ellipseRotate {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(-405deg); } }

@keyframes iconsVisible {
  0% {
    visibility: hidden;
    transform: translateY(-10px); }
  100% {
    visibility: visible;
    transform: translateY(0); } }

@keyframes buttonVisible {
  0% {
    visibility: hidden;
    transform: translateY(10px); }
  100% {
    visibility: visible;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: all 0.3s ease-out;
  transition: width none; }
  *, *::before, *::after {
    box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 3rem;
  scroll-behavior: smooth; }

html::-webkit-scrollbar {
  width: 1rem; }

html::-webkit-scrollbar-track {
  background: #d5e8f3; }

html::-webkit-scrollbar-thumb {
  background: #6fa4c3; }

body {
  background: #f1f6f9; }

/* media queries  */
@media (min-width: 1600px) {
  html {
    font-size: 90% !important; }
  .arrow-btn,
  .arrow-btn-2 {
    width: 60px !important;
    height: 60px !important; }
  .arrow-btn-2 {
    padding-top: 1rem !important; } }

@media (max-width: 1250px) {
  .trending-section ul:first-of-type {
    grid-template-columns: repeat(2, 1fr) !important; }
    .trending-section ul:first-of-type li:nth-of-type(5),
    .trending-section ul:first-of-type li:nth-of-type(6) {
      display: none !important;
      opacity: 0 !important; }
  .vinyl-round-section .text div span {
    font-size: 6rem !important; }
  .grid--cols-4 > .grid-cell {
    flex: 0 0 33.333% !important; } }

@media (max-width: 991px) {
  html {
    font-size: 55% !important; }
  .header__top {
    padding: 2rem; }
  .home__title {
    font-size: 12vw !important;
    letter-spacing: 0 !important;
    margin-bottom: 2rem !important; }
    .home__title::before {
      -webkit-text-stroke: 9px #ec9d53 !important; }
  .home__text-box {
    align-items: center !important;
    text-align: center !important;
    margin-bottom: 4rem !important; }
  .trending-section {
    grid-template-columns: auto !important;
    align-items: center;
    justify-items: center; }
    .trending-section ul:first-of-type {
      grid-template-columns: repeat(2, 1fr) !important; }
    .trending-section__left-side {
      width: 100% !important; }
    .trending-section .aside {
      width: 60% !important; }
  .vinyl-round-section .images figure:first-of-type {
    flex: 100% !important;
    margin-right: 0 !important; }
  .vinyl-round-section .images figure:last-of-type {
    display: none !important;
    opacity: 0 !important; }
  .grid--cols-2 > .grid-cell {
    flex: 0 0 100% !important;
    margin-left: 0 !important; } }

@media (max-width: 768px) {
  html {
    scroll-padding-top: 0; }
  body {
    padding-bottom: 6rem; }
  .header__bottom {
    display: none; }
  .header__top {
    border-bottom: 0.1rem solid rgba(28, 41, 58, 0.1);
    position: relative; }
  .header__search-form {
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-out !important;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw !important; }
    .header__search-form.active {
      top: 12vh;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1; }
  .bottom-navbar {
    display: block !important; }
  #header__search-btn {
    display: inline-block !important; }
  .home__vinyl-container,
  .home .circle.outline {
    width: 84vw !important;
    height: 84vw !important; }
    .home__vinyl-container .vinyl,
    .home__vinyl-container .circle.thick,
    .home__vinyl-container .circle.color,
    .home .circle.outline .vinyl,
    .home .circle.outline .circle.thick,
    .home .circle.outline .circle.color {
      width: 70vw !important;
      height: 70vw !important;
      top: 7vw !important;
      left: 7vw !important; }
  .info-section {
    flex-direction: column !important; }
  .slider__item {
    width: calc(82vw / 2) !important; }
  .vinyl-round-section {
    flex-wrap: wrap;
    justify-content: center !important; }
    .vinyl-round-section .text {
      text-align: center !important;
      justify-content: center !important;
      align-items: center !important;
      margin-bottom: 2rem; }
  .grid--cols-3 > .grid-cell {
    flex: 0 0 100% !important;
    margin-bottom: 2rem !important;
    margin-left: 0 !important; }
  .grid--cols-4 > .grid-cell {
    flex: 0 0 50% !important; }
    .grid--cols-4 > .grid-cell:nth-child(n + 5) {
      display: none !important;
      opacity: 0 !important; }
  .grid--1of4 > .grid-cell:first-of-type {
    flex: 0 0 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important; }
  .footer .copyright {
    flex-direction: column !important;
    align-items: flex-start !important; }
    .footer .copyright span {
      padding-top: 1rem !important; }
    .footer .copyright div {
      display: flex !important;
      flex-direction: column !important; }
      .footer .copyright div a {
        padding-bottom: 1rem !important; } }

@media (max-width: 450px) {
  section {
    padding: 3rem 5vw !important; }
  .slider__item {
    width: 90vw !important;
    border-right: 0 !important; }
  .trending-section ul {
    grid-template-columns: auto !important; }
  .trending-section .aside {
    width: 100% !important; }
  .boxind-day-section div div .sale {
    margin-right: 0 !important;
    margin-bottom: 2rem !important; }
    .boxind-day-section div div .sale img {
      width: 65vw !important;
      height: 100% !important; }
  .grid--cols-4 > .grid-cell {
    flex: 0 0 100% !important; }
  .arrow-btn-2 {
    padding-top: 1rem !important; } }

* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  color: #1e3948; }

h1 {
  font-size: 3.7rem; }

h2 {
  font-size: 2.8rem;
  color: #f1f6f9; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2rem;
  font-weight: 500; }

a,
i {
  font-size: 1.5rem; }

.set-icons a {
  background-color: transparent;
  color: #f1f6f9; }
  .set-icons a:hover {
    color: #6fa4c3; }

.heading {
  color: #1e3948;
  text-transform: uppercase;
  letter-spacing: 3px; }
  .heading::before {
    content: attr(data-text);
    color: transparent;
    -webkit-text-stroke: 2px #46b612;
    text-transform: uppercase; }

.btn, .btn--default, .btn--info, .btn--order, .btn--sign, .btn--read {
  font-size: 1.2rem;
  font-weight: 500; }
  .btn--default, .btn--info, .btn--read {
    color: #f1f6f9; }
  .btn--order {
    color: #427c9e; }

.header__logo {
  font-size: 2.8rem;
  font-family: "Chango", cursive;
  font-weight: bolder;
  color: #d31306; }
  .header__logo i {
    color: #1e3948;
    font-size: 1.2rem; }

.header__search-form input {
  text-transform: none;
  font-size: 1.2rem; }

.header__search-form label {
  font-size: 1.5rem;
  color: #427c9e; }
  .header__search-form label :hover {
    color: #1e3948; }

.header__icons div,
.header__icons a {
  font-size: 2rem;
  color: #427c9e; }
  .header__icons div:hover,
  .header__icons a:hover {
    color: #1e3948; }

.home__title {
  font-family: "Chango", cursive;
  font-size: 12rem;
  color: #d31306;
  -webkit-text-stroke: 1px #f1f6f9;
  letter-spacing: -9px;
  text-shadow: 0px 2px 3px #5c0606; }
  .home__title::before {
    content: "Vinyllia.";
    font-family: "Chango", cursive;
    font-size: inherit;
    color: transparent;
    position: absolute;
    z-index: -2000;
    -webkit-text-stroke: 24px #ec9d53; }

.slider__item--title {
  color: #1e3948;
  font-weight: bold;
  cursor: pointer; }
  .slider__item--title:hover {
    color: #6fa4c3;
    text-decoration: underline; }

.slider__item > p {
  color: #1e3948;
  text-align: right; }

.trending-section ul:first-of-type div a {
  color: #1e3948; }
  .trending-section ul:first-of-type div a:hover {
    color: #12222b; }

.newsletter form .box {
  color: #1e3948;
  font-weight: bolder;
  font-size: 1.5rem;
  text-transform: none; }

.newsletter form input:last-of-type {
  color: #f1f6f9;
  font-size: 1.2rem; }

.vinyl-round-section .text h4 {
  text-transform: uppercase;
  color: #427c9e; }
  .vinyl-round-section .text h4::before {
    display: inline-block;
    content: "";
    border: 1px solid #6fa4c3;
    width: 80px;
    margin: 0 10px 0 0;
    transform: translateY(-4px); }

.vinyl-round-section .text div {
  line-height: 8rem; }
  .vinyl-round-section .text div span {
    color: #12222b;
    font-size: 12rem;
    font-weight: bold;
    letter-spacing: -2px; }

.vinyl-round-section figure figcaption .pages {
  font-size: 1.5rem;
  font-weight: 600; }
  .vinyl-round-section figure figcaption .pages span {
    font-weight: 700;
    font-size: 2.8rem;
    color: #427c9e; }

.boxind-day-section h1 {
  font-size: 6rem;
  color: #f1f6f9; }

.boxind-day-section p {
  text-align: right; }
  .boxind-day-section p:last-of-type {
    text-decoration: line-through;
    color: #d31306; }

.footer .container h3,
.footer .container .box a,
.footer .container i {
  color: #427c9e; }

.footer .container .aside form a i {
  color: #f1f6f9;
  font-size: 1.5rem; }

.footer .container .aside .tooltip {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: #f1f6f9;
  text-transform: uppercase; }

.footer .copyright a {
  font-size: 1.2rem;
  color: #1e3948; }
  .footer .copyright a:hover {
    text-decoration: underline; }

.footer .copyright span {
  font-size: 1rem; }

.header__navbar a,
.info__content i,
.info__text h3,
.info__text p,
.bottom-navbar a,
.left-label h4,
.newsletter form h3 {
  color: #f1f6f9; }

.label-new {
  color: #1e3948;
  font-size: 2.8rem;
  letter-spacing: -1px;
  -webkit-text-stroke: 4px #1e3948; }
  .label-new::before {
    content: "New";
    font-size: inherit;
    color: #f1f6f9;
    -webkit-text-stroke: 2px #f1f6f9; }

.arrows li {
  font-size: 1.5rem;
  color: #427c9e; }

.login-form-container form h3 {
  text-transform: uppercase;
  text-align: center;
  color: #f1f6f9; }

.login-form-container form span {
  font-size: 1.5rem;
  color: #f1f6f9; }

.login-form-container form .box {
  font-size: 1.2rem;
  color: #f1f6f9;
  text-transform: none;
  background-color: #1e3948; }
  .login-form-container form .box::placeholder {
    color: #6fa4c3; }

.login-form-container form .checkbox label {
  font-size: 1.5rem;
  color: #ec9d53;
  cursor: pointer; }

.login-form-container form .btn--sign {
  color: #ec9d53; }

.login-form-container form p {
  color: #ec9d53;
  font-size: 1.2rem; }
  .login-form-container form p a {
    color: #f1f6f9;
    font-size: 1.2rem;
    text-decoration: underline; }

.login-form-container #close-login-btn {
  font-size: 2.8rem;
  color: #12222b;
  cursor: pointer; }

.u-textCenter {
  text-align: center; }

.u-border {
  border: 2px solid #6fa4c3; }

.btn, .btn--default, .btn--info, .btn--order, .btn--sign, .btn--read {
  display: inline-block;
  cursor: pointer;
  border-radius: 5rem;
  padding: 0.9rem 3rem; }
  .btn:hover, .btn--default:hover, .btn--info:hover, .btn--order:hover, .btn--sign:hover, .btn--read:hover {
    background: #1e3948; }
  .btn--default {
    background: #427c9e; }
  .btn--info, .btn--order {
    background: transparent; }
    .btn--info::before, .btn--order::before {
      content: "show more"; }
  .btn--sign {
    background: #1e3948; }
  .btn--info {
    visibility: hidden;
    border: 2px solid #f1f6f9; }
    .btn--info:hover {
      background: #6fa4c3; }
  .btn--order {
    border: 2px solid #427c9e; }
  .btn--default, .btn--order {
    margin-top: 2rem; }
  .btn--read {
    background: #ec9d53; }
    .btn--read:hover {
      opacity: 0.7; }

.arrow-btn,
.arrow-btn-2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #427c9e;
  cursor: pointer;
  padding-top: 0.5rem; }

.arrow-btn-2 {
  background-color: transparent;
  display: inline-block;
  margin-right: 1rem; }
  .arrow-btn-2:first-of-type {
    margin-right: 1rem; }

/* grid system  */
.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; }
  .grid-cell {
    flex: 1; }
  .grid--cols-2 > .grid-cell, .grid--cols-3 > .grid-cell {
    flex: 1; }
    .grid--cols-2 > .grid-cell:not(:first-of-type), .grid--cols-3 > .grid-cell:not(:first-of-type) {
      margin-left: 2rem; }
  .grid--full > .grid-cell {
    flex: 0 0 100%; }
  .grid--cols-4 > .grid-cell,
  .grid--1of4 > .grid-cell:first-of-type {
    flex: 0 0 25%; }

.slider__container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  background-color: #6fa4c3;
  border-radius: 0.2rem;
  box-shadow: 0px 4px 4px rgba(35, 38, 65, 0.521);
  overflow: hidden; }

.slider__content {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  position: relative;
  padding: 2rem 0; }

.slider__item {
  width: calc(82vw / 4);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #f1f6f9;
  box-shadow: 0px 4px 4px rgba(35, 38, 65, 0.521);
  border-right: 1rem solid #6fa4c3; }
  .slider__item figure {
    background-color: #f1f6f9;
    background-size: cover;
    position: relative;
    cursor: pointer;
    position: relative; }
    .slider__item figure:after {
      content: "";
      display: block;
      padding-top: 100%; }
    .slider__item figure .hidden__info {
      position: absolute;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%; }
      .slider__item figure .hidden__info:hover {
        background-color: rgba(18, 34, 43, 0.6); }
        .slider__item figure .hidden__info:hover .set-icons {
          animation: iconsVisible 0.6s ease-out;
          animation-fill-mode: forwards; }
        .slider__item figure .hidden__info:hover .btn--info {
          animation: buttonVisible 0.6s ease-out;
          animation-fill-mode: forwards; }
    .slider__item figure .set-icons {
      visibility: hidden;
      width: 100%;
      text-align: end; }
      .slider__item figure .set-icons a {
        padding: 1rem; }
  .slider__item--title {
    margin-top: 2rem; }
  .slider__item > p {
    margin-bottom: 2rem; }

.slider__control > button {
  position: absolute;
  box-shadow: 0px 4px 4px rgba(35, 38, 65, 0.521);
  outline: none;
  transform: translateY(-50%) scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out; }
  .slider__control > button.show {
    transform: translateY(-50%) scale(1);
    opacity: 1;
    visibility: visible; }

.slider__next {
  right: 0.5rem; }

.slider__prev {
  left: 0.5rem; }

.header__top {
  padding: 0 9vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh; }

.header__search-form {
  width: 50rem;
  height: 3rem;
  border: 0.1rem solid rgba(28, 41, 58, 0.1);
  overflow: hidden;
  background: transparent;
  display: flex;
  align-items: center;
  border-radius: 2rem; }
  .header__search-form input {
    padding: 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    background: transparent; }
  .header__search-form label {
    padding: 0 1.2rem;
    cursor: pointer; }
    .header__search-form label:hover {
      color: #1e3948; }

.header__icons div,
.header__icons a {
  margin-left: 2rem;
  cursor: pointer; }

.header__bottom {
  height: 7vh;
  background-color: #427c9e; }
  .header__bottom__active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; }

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .header__navbar div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .header__navbar div:hover {
      background: #1e3948; }
  .header__navbar a {
    display: inline-block;
    padding: 0 3rem; }

#header__search-btn {
  display: none; }

.bottom-navbar {
  background: #427c9e;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none; }
  .bottom-navbar a {
    padding: 2rem; }
    .bottom-navbar a:hover {
      background: #1e3948; }

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem; }
  .footer .container h3 {
    padding-bottom: 2rem; }
  .footer .container .box a {
    display: block;
    padding-bottom: 2rem; }
    .footer .container .box a i {
      padding-right: 0.5rem;
      transition: all 0.3s ease-out; }
    .footer .container .box a:hover i {
      padding-right: 1rem;
      transition: all 0.3s ease-out; }
  .footer .container .aside form {
    max-width: 45rem;
    text-align: center;
    display: flex;
    margin-bottom: 2rem; }
    .footer .container .aside form .box {
      width: auto;
      padding: 1rem 1.2rem;
      border: 1px solid #427c9e;
      color: #427c9e;
      text-transform: none; }
    .footer .container .aside form a i {
      background: #427c9e;
      border: 1px solid #1e3948;
      padding: 1.5rem 1rem; }
  .footer .container .aside .social-icons {
    display: flex;
    margin-bottom: 2rem; }
    .footer .container .aside .social-icons .social-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 50px;
      height: 50px;
      margin: 0 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.3s ease-out;
      border: 1px solid #427c9e;
      background: #d5e8f3; }
      .footer .container .aside .social-icons .social-icon:hover .tooltip {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -150%); }
      .footer .container .aside .social-icons .social-icon .tooltip {
        background: #1e3948;
        columns: currentColor; }
        .footer .container .aside .social-icons .social-icon .tooltip::after {
          border-top-color: #1e3948; }
    .footer .container .aside .social-icons .tooltip {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      padding: 0.8rem 1rem;
      border-radius: 12px;
      opacity: 0;
      pointer-events: none;
      transform: translate(-50%, -100%);
      transition: all 0.3s ease-out;
      z-index: 1; }
    .footer .container .aside .social-icons .tooltip:after {
      display: block;
      position: absolute;
      bottom: 1px;
      left: 50%;
      width: 0;
      height: 0;
      content: "";
      border: solid;
      border-width: 10px 10px 0 10px;
      border-color: transparent;
      transform: translate(-50%, 100%); }

.footer .copyright {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 0.1rem solid rgba(28, 41, 58, 0.1); }
  .footer .copyright a {
    margin-right: 1rem;
    margin-top: 2rem; }

section {
  padding: 5rem 9vw; }

.heading {
  position: relative;
  margin-bottom: 4rem; }
  .heading::before {
    position: absolute;
    z-index: -1000;
    transform: translateX(2px); }

.home {
  min-height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .home__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap; }
  .home__vinyl-container {
    position: relative;
    border-radius: 50%;
    margin: 0; }
    .home__vinyl-container .vinyl {
      position: absolute;
      animation: vinylRotate 10s linear infinite; }
  .home .circle {
    position: absolute;
    border-radius: 50%;
    border-style: solid; }
    .home .circle.outline {
      border-width: 0.4rem;
      border-color: #ec9d53;
      z-index: -3000; }
    .home .circle.thick, .home .circle.color {
      border-width: 10px;
      transform: rotate(-45deg); }
    .home .circle.thick {
      border-color: #6fa4c3; }
    .home .circle.color {
      border-color: #d31306 transparent;
      animation: ellipseRotate 15s ease-in-out infinite; }
  .home__vinyl-container,
  .home .circle.outline {
    width: 35vw;
    height: 35vw; }
    .home__vinyl-container .vinyl,
    .home__vinyl-container .circle.thick,
    .home__vinyl-container .circle.color,
    .home .circle.outline .vinyl,
    .home .circle.outline .circle.thick,
    .home .circle.outline .circle.color {
      width: 30vw;
      height: 30vw;
      top: 2.5vw;
      left: 2.5vw; }
  .home__text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 4vw; }

.info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #12222b; }

.info__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem; }
  .info__content i {
    margin-right: 2rem; }

.trending-section {
  display: grid;
  gap: 4rem;
  grid-template-columns: 2fr 1fr; }
  .trending-section .arrows {
    margin-top: 2rem; }
  .trending-section__left-side {
    display: grid;
    grid-auto-rows: min-content; }
  .trending-section .aside {
    display: grid;
    text-align: center;
    gap: 1rem; }
    .trending-section .aside h2 {
      padding-top: 2rem;
      background-image: url("https://svgur.com/i/dYq.svg");
      background-size: cover; }
    .trending-section .aside figure {
      background-color: #f1f6f9;
      background-size: cover;
      position: relative;
      cursor: pointer;
      position: relative;
      background-image: url("https://i.ibb.co/Bsd0fwm/pic-1.png");
      object-fit: fill; }
      .trending-section .aside figure:after {
        content: "";
        display: block;
        padding-top: 100%; }
      .trending-section .aside figure .hidden__info {
        position: absolute;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%; }
        .trending-section .aside figure .hidden__info:hover {
          background-color: rgba(18, 34, 43, 0.6); }
          .trending-section .aside figure .hidden__info:hover .set-icons {
            animation: iconsVisible 0.6s ease-out;
            animation-fill-mode: forwards; }
          .trending-section .aside figure .hidden__info:hover .btn--info {
            animation: buttonVisible 0.6s ease-out;
            animation-fill-mode: forwards; }
      .trending-section .aside figure .set-icons {
        visibility: hidden;
        width: 100%;
        text-align: end; }
        .trending-section .aside figure .set-icons a {
          padding: 1rem; }
  .trending-section ul:first-of-type {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr); }
    .trending-section ul:first-of-type li {
      padding: 1rem;
      background-color: #d5e8f3; }
      .trending-section ul:first-of-type li figure {
        background-size: cover;
        width: 100%;
        padding-top: 100%;
        /* 1:1 Aspect Ratio */
        position: relative;
        border: 2px solid #1e3948; }
      .trending-section ul:first-of-type li div a {
        margin: 2rem; }

.recommended-section .grid--cols-2 .grid-cell div {
  margin-bottom: 2rem;
  padding: 1rem;
  background: #12222b;
  transition: all 0.3s ease-out;
  border-radius: 0.3rem; }
  .recommended-section .grid--cols-2 .grid-cell div:hover {
    background: #6fa4c3; }
  .recommended-section .grid--cols-2 .grid-cell div figure {
    overflow: hidden;
    border-radius: 0.3rem;
    position: relative;
    max-height: 250px; }
    .recommended-section .grid--cols-2 .grid-cell div figure img {
      width: 100%; }
    .recommended-section .grid--cols-2 .grid-cell div figure figcaption {
      position: absolute;
      bottom: 0;
      background-color: rgba(30, 57, 72, 0.8);
      width: 100%; }
      .recommended-section .grid--cols-2 .grid-cell div figure figcaption h3 {
        color: #f1f6f9;
        padding: 1rem 2rem; }
    .recommended-section .grid--cols-2 .grid-cell div figure img {
      transition: all 0.3s ease-out; }
      .recommended-section .grid--cols-2 .grid-cell div figure img:hover {
        transform: scale(1.03, 1.03);
        -webkit-filter: blur(0.5px);
        /* Safari 6.0 - 9.0 */
        filter: blur(0.5px); }

.recommended-section .grid--cols-3 .grid-cell div figure {
  background-color: #f1f6f9;
  background-size: cover;
  position: relative;
  cursor: pointer;
  position: relative; }
  .recommended-section .grid--cols-3 .grid-cell div figure:after {
    content: "";
    display: block;
    padding-top: 100%; }
  .recommended-section .grid--cols-3 .grid-cell div figure .hidden__info {
    position: absolute;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%; }
    .recommended-section .grid--cols-3 .grid-cell div figure .hidden__info:hover {
      background-color: rgba(18, 34, 43, 0.6); }
      .recommended-section .grid--cols-3 .grid-cell div figure .hidden__info:hover .set-icons {
        animation: iconsVisible 0.6s ease-out;
        animation-fill-mode: forwards; }
      .recommended-section .grid--cols-3 .grid-cell div figure .hidden__info:hover .btn--info {
        animation: buttonVisible 0.6s ease-out;
        animation-fill-mode: forwards; }
  .recommended-section .grid--cols-3 .grid-cell div figure .set-icons {
    visibility: hidden;
    width: 100%;
    text-align: end; }
    .recommended-section .grid--cols-3 .grid-cell div figure .set-icons a {
      padding: 1rem; }

.newsletter {
  background: url("https://images.unsplash.com/photo-1518401837522-f1a52929820e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .newsletter form {
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0; }
    .newsletter form h3 {
      padding-bottom: 1rem; }
    .newsletter form .box {
      width: 100%;
      margin: 0.7rem 0;
      padding: 1rem 1.2rem;
      border-radius: 0.5rem; }
    .newsletter form input:last-of-type {
      background: transparent;
      border-radius: 15px;
      border: 1px solid #f1f6f9;
      padding: 0.6rem 1.5rem;
      margin-top: 2rem; }

.vinyl-round-section {
  background-color: #d5e8f3;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .vinyl-round-section .images {
    display: flex;
    right: 0; }
    .vinyl-round-section .images figure:first-of-type {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      flex: 1.1;
      margin-right: 2rem; }
      .vinyl-round-section .images figure:first-of-type .img-1 {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
        position: relative; }
      .vinyl-round-section .images figure:first-of-type figcaption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem; }
        .vinyl-round-section .images figure:first-of-type figcaption .pages {
          float: right;
          margin-right: 2rem; }
    .vinyl-round-section .images figure:last-of-type {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex: 1; }
      .vinyl-round-section .images figure:last-of-type .img-2 {
        margin-bottom: 2rem; }
      .vinyl-round-section .images figure:last-of-type img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
        position: relative; }
  .vinyl-round-section .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 4rem; }
    .vinyl-round-section .text h4 {
      margin-bottom: 2rem; }

.boxind-day-section div div .sale {
  height: 100%;
  margin-right: 2rem;
  position: relative;
  text-align: center; }
  .boxind-day-section div div .sale img {
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%; }
  .boxind-day-section div div .sale figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.boxind-day-section .item {
  padding: 1rem;
  background-color: #f1f6f9;
  box-shadow: 0px 4px 4px rgba(35, 38, 65, 0.521);
  margin-bottom: 2rem; }
  .boxind-day-section .item figure {
    background-color: #f1f6f9;
    background-size: cover;
    position: relative;
    cursor: pointer;
    position: relative; }
    .boxind-day-section .item figure:after {
      content: "";
      display: block;
      padding-top: 100%; }
    .boxind-day-section .item figure .hidden__info {
      position: absolute;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%; }
      .boxind-day-section .item figure .hidden__info:hover {
        background-color: rgba(18, 34, 43, 0.6); }
        .boxind-day-section .item figure .hidden__info:hover .set-icons {
          animation: iconsVisible 0.6s ease-out;
          animation-fill-mode: forwards; }
        .boxind-day-section .item figure .hidden__info:hover .btn--info {
          animation: buttonVisible 0.6s ease-out;
          animation-fill-mode: forwards; }
    .boxind-day-section .item figure .set-icons {
      visibility: hidden;
      width: 100%;
      text-align: end; }
      .boxind-day-section .item figure .set-icons a {
        padding: 1rem; }
  .boxind-day-section .item--title {
    margin-top: 2rem;
    text-align: left; }

.blog ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem; }
  .blog ul li {
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(35, 38, 65, 0.521); }
    .blog ul li p {
      padding: 2rem; }
    .blog ul li button {
      margin: 0 0 2rem 2rem; }
  .blog ul figure {
    overflow: hidden;
    border-radius: 0.3rem;
    position: relative;
    max-height: 200px; }
    .blog ul figure img {
      width: 100%; }
    .blog ul figure figcaption {
      position: absolute;
      bottom: 0;
      background-color: rgba(30, 57, 72, 0.8);
      width: 100%; }
      .blog ul figure figcaption h3 {
        color: #f1f6f9;
        padding: 1rem 2rem; }

.blog .grid .grid-cell button {
  margin-top: 4rem; }

ul {
  list-style: none; }

.left-label {
  position: absolute;
  padding: 1rem 1.5rem 1rem 0.5rem;
  background-color: #1e3948;
  border-radius: 0 50px 50px 0;
  top: 70%;
  left: -1px; }

.label-new {
  padding: 0 0.3rem 0.6rem 0.4rem;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-image: url("https://i.ibb.co/pnvxfGN/splash.png");
  background-size: cover;
  position: absolute;
  transform: rotate(-17deg); }
  .label-new::before {
    position: absolute;
    transform: translate(-4px, 0.1px); }

/* Photos used  */
.no1 {
  background-image: url("https://images.unsplash.com/photo-1551714457-2a534e9bc285?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80"); }

.no2 {
  background-image: url("https://images.unsplash.com/photo-1584679109597-c656b19974c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"); }

.no3 {
  background-image: url("https://images.unsplash.com/photo-1616659034852-24d523d8069e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"); }

.no4 {
  background-image: url("https://images.unsplash.com/photo-1549144277-47d96d572dc4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=435&q=80"); }

.no5 {
  background-image: url("https://images.unsplash.com/photo-1616797502586-34cc70f28278?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"); }

.no6 {
  background-image: url("https://images.unsplash.com/photo-1625908691804-e7e1bb7c2d66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=435&q=80"); }

.no7 {
  background-image: url("https://images.unsplash.com/photo-1530051315435-58046fbc2649?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"); }

.no8 {
  background-image: url("https://images.unsplash.com/photo-1560266442-24198041f14c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"); }

.no9 {
  background-image: url("https://images.unsplash.com/photo-1635135449992-c3438898371b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"); }

.no10 {
  background-image: url("https://images.unsplash.com/photo-1637265699332-88a7c1a39d8b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=382&q=80"); }

.no11 {
  background-image: url("https://images.unsplash.com/photo-1616663395403-2e0052b8e595?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); }

.no12 {
  background-image: url("https://images.unsplash.com/photo-1584679109594-56fffe50d527?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80"); }

.no13 {
  background-image: url("https://images.unsplash.com/photo-1566748467590-33f5af6d3539?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"); }

.no14 {
  background-image: url("https://images.unsplash.com/photo-1631692364644-d6558eab0915?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"); }

.no15 {
  background-image: url("https://images.unsplash.com/photo-1501829385782-9841539fa6bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"); }

.no16 {
  background-image: url("https://images.unsplash.com/photo-1536640655660-d13d0f29867b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=970&q=80"); }

.no17 {
  background-image: url("https://images.unsplash.com/photo-1614613535308-eb5fbd3d2c17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"); }

.no18 {
  background-image: url("../../image/tag.svg"); }

.no19 {
  background-image: url("https://images.unsplash.com/photo-1618972677266-ce46571ce15e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"); }

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #427c9ebe;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  right: -105%;
  z-index: 10000;
  height: 100%;
  width: 100%; }
  .login-form-container.active {
    right: 0; }
  .login-form-container form {
    background: #12222b;
    border: 0.1rem solid rgba(28, 41, 58, 0.1);
    width: 40rem;
    padding: 2rem;
    box-shadow: 0px 4px 4px rgba(35, 38, 65, 0.521);
    border-radius: 0.5rem;
    margin: 2rem; }
    .login-form-container form span {
      display: block;
      padding-top: 1rem; }
    .login-form-container form .box {
      width: 100%;
      margin: 0.7rem 0;
      border: 0.1rem solid rgba(28, 41, 58, 0.1);
      border-radius: 0.5rem;
      padding: 2rem;
      background-color: #1e3948; }
    .login-form-container form .checkbox {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-top: 1rem; }
    .login-form-container form .btn--sign {
      width: 100%;
      margin: 2rem 0;
      border: 1px solid #ec9d53; }
    .login-form-container form p {
      padding-top: 0.8rem; }
  .login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem; }
