/* color variables  */
/* font variables  */
/* border variables  */
/* margin/padding variables  */
/* transition variables  */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  transition: all 0.3s ease-out;
  transition: width none; }
  *, *::before, *::after {
    box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 3rem;
  scroll-behavior: smooth; }

html::-webkit-scrollbar {
  width: 1rem; }

html::-webkit-scrollbar-track {
  background: #d5e8f3; }

html::-webkit-scrollbar-thumb {
  background: #6fa4c3; }

body {
  background: #f1f6f9; }
