/* color variables  */

$blue-100: #f1f6f9;
$blue-200: #d5e8f3;
$blue-500: #6fa4c3;
$blue-700: #427c9e;
$blue-800: #1e3948;
$blue-900: #12222b;
$green-500: #46b612;
$red-500: #d31306;
$sandy-500: #ec9d53;

/* font variables  */

$font-size: 1rem;
$font-size-100: 1.2rem;
$font-size-200: 1.5rem;
$font-size-300: 2rem;
$font-size-400: 2.8rem;
$font-size-500: 3.7rem;
$font-size-700: 6rem;
$font-size-800: 6rem;
$font-size-900: 12rem;

/* border variables  */

$border: 0.1rem solid rgba(28, 41, 58, 0.1);
$border-hover: 0.1rem solid black;
$box-shadow: 0px 4px 4px rgba(35, 38, 65, 0.521);

/* margin/padding variables  */

$margin-100: 1rem;
$margin-200: 2rem;
$margin-400: 4rem;

/* transition variables  */

$transition: all 0.3s ease-out;
