/* grid system  */
.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  &-cell {
    flex: 1;
  }
  &--cols-2,
  &--cols-3 {
    & > .grid-cell {
      flex: 1;
      &:not(:first-of-type) {
        margin-left: $margin-200;
      }
    }
  }
  &--full > .grid-cell {
    flex: 0 0 100%;
  }
  &--cols-4 > .grid-cell,
  &--1of4 > .grid-cell:first-of-type {
    flex: 0 0 25%;
  }
}
